<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="soap">
                    <security mode="Transport" />
                </binding>
                <binding name="soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsg.testthetrainline.com/CustomerService/V3.0/Customer.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="soap" contract="TrainlineService.IService"
                name="soap" />
        </client>
    </system.serviceModel>
</configuration>