<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        internalLogFile="${basedir}/logs/NLog.log" autoReload="true" throwExceptions="false">

    <targets async="true">
      <!-- add your targets here -->
      <!-- File Logger  -->
      <target name="File-Logging" xsi:type="File" fileName="${basedir}/logs/TrainlineServiceLog-${shortdate}.log"
              layout="${longdate} MESSAGE:${MESSAGE} "/>
    </targets>
    <rules>
      <!-- add your logging rules here -->

      <!--File logging-->
      <logger name="*"  levels="Debug,Info,Error" maxlevel="Error" writeTo="File-Logging" />
    </rules>
  </nlog>

  <appSettings>
    <add key="TrainlineUserName" value="TRAINLINE_INTERVIEW"/>
    <add key="TrainlineUserPass" value="8gP9t49a"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="soap"  closeTimeout="00:00:05" openTimeout="00:00:05" receiveTimeout="00:00:05" sendTimeout="00:00:05">
          <security mode="Transport" />
        </binding>
        <binding name="soap1"  closeTimeout="00:00:05" openTimeout="00:00:05" receiveTimeout="00:00:05" sendTimeout="00:00:05"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wsg.testthetrainline.com/CustomerService/V3.0/Customer.svc/soap"
          binding="basicHttpBinding" bindingConfiguration="soap" contract="TrainlineService.IService"
          name="soap" />
    </client>
  </system.serviceModel>

</configuration>